<%- include('./layout.ejs') %>
</head>

<body class="center">
    <% if (auds.length > 0) { %>
        <% for (let audio of auds) { %>
            <h1>
                <%= audio.title %>
            </h1>
            <h2>
                <%= audio.author %>
            </h2>
            <form action="/playback/<%= audio._id %>" method="GET">
                <button class="btn" type="submit">Play</button>
            </form>
            <br>
            <form action="/delete/<%= audio._id %>" method="GET">
                <button class="btn" type="submit">Delete</button>
            </form>
        <% } %>
    <% } else { %>
        <h1>
            Empty!
        </h1>
        <p>
            <a href="/upload">Click here</a> to add a file.
        </p>
        <% } %>
</body>
</html>